@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#ears {
  transition: all 250ms linear 120ms;
}

.ears:hover {
  transform: translate(0, -10px);
}

#eyes {
  transform-origin: center;
  animation: move 1s linear infinite;
}

@keyframes move {

  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-15px, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(12px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
